<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card</title>
    <link rel="stylesheet" href="../css/card.css" />
  </head>

  <body>
    <div id="card">
      <img src="../img/honey.png" alt="honey_pot" />
      <div class="honeyInfo">
        <h3>100% Bio Honey <span>Italian, not treated</span></h3>
        <p class="price">7$/kg</p>
      </div>
      <button>Add to cart</button>
    </div>
  </body>
</html>
